/*
* 首尾样式
*/
.container {
    max-width: 100%;
}

#container {
    max-width: 980px;
}

.copyright {
    text-align: center;
    margin-top: 28px;
    color: #777;
}

/*
* 页面样式
*/
h3 {
    font-size: large;
    margin: 0;
}

img {
    max-height: 72px;
    max-width: 54px;
}

hr ul {
    margin-bottom: 0;
}

td {
    min-height: 50px;
}

tbody {
    overflow-y: scroll;
}

.label {
    font-size: 100%;
}

.label.label-default {
    display: inline-block;
    width: 50%;
    font-size: large;
}

.panel {
    margin-top: 20px;
}

.number-input {
    max-width: 45px;
}

#sum-num {
    color: red;
}

#item-delete {
    color: mediumblue;
    font-size: 14px;
}

#cart-total {
    padding: 0;
}

#cart-alert-null {
    display: none;
}